.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: $fullHeight;
    padding: $p-md;

    border-right: $b-lines;

    font-size: $ft-s-lg;
    &__main{
        height: 100%;
        align-items: start;
        justify-content: space-between;
    }
}