//color
$clr-primary-gray: hsl(0, 0%, 70%);
$clr-primary-gray-op: hsla(0, 0%, 70%, .5); 

$fullHeight: 100vh;
$fullWidth: 100vw;

//font-size
$ft-s-md: 1rem;
$ft-s-lg: 1.375rem;

//padding
$p-2xs: .25rem;
$p-xs: .5rem;
$p-sm: .75rem;
$p-md: 1rem;
$p-lg: 1.25rem;
$p-xl: 1.5rem;
$p-2xl: 1.75rem;

//margin
$m-2xs: .25rem;
$m-xs: .5rem;
$m-sm: .75rem;
$m-md: 1rem;
$m-lg: 1.25rem;
$m-xl: 1.5rem;
$m-2xl: 1.75rem;

//border
$b-w: .1rem;

$b-lines: $b-w solid $clr-primary-gray-op;