@mixin liMargin{
    margin-inline-start: $m-xs;
    margin-block-start: $m-2xs; 
}

.nav-sidebar{
    li{
        ul{
            @include liMargin;
        }
    }

    &__link{
        align-items: center;
    }
}