.nav-sidebar{
    //width: 15rem;
    overflow: hidden;
    ul{
        li{
            margin-inline-start: $m-xs;
            margin-block-start: $m-2xs;
        }
        :first-child{
            margin-block-start: 0;
        }
    }
    
    &__link{
        align-items: center;
    }
}